.divHome {
  width: 85%;
  height: 92vh;
  margin: auto;
  display: grid;
  grid-template-columns: 65% 35%;
  justify-content: center;
  align-items: center;
  padding-bottom: 15vh;
  flex-wrap: wrap;
  
}
h1, h2{
  flex-wrap: wrap;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
}

.full{
  width: 420px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
 
}
.full h2{
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}
.full h1{
  font-size: 2rem;
  font-weight: 700%;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.full p{
  font-size:  13px;
  font-weight: 0%;
  text-align: justify;
  display: flex;
  color: rgb(19, 18, 18);
  letter-spacing: 1px;
  flex-wrap: wrap;
}

.full .points{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.buttons{
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.buttons img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  flex-wrap: wrap;
}
.buttons img{
  width: 50%;
  height: 200%;
  object-fit: cover;
  border: 5px solid rgb(33, 177, 193);
  box-shadow: 0 0 30px rgb(57, 158, 181);;
  flex-wrap: wrap;
  flex-direction: column;
}

.buttons div{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
  flex-wrap: wrap;
}

.buttons div a{
  
  font-size: 15px;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 25px;
  color: black;
  background: rgb(33, 177, 193);;
  border: 2px solid rgb(33, 177, 193);;
  outline: none;
  transition: 0.3s ease-in;
  width: 100px;
  height: 35px;
  text-decoration: none;
  text-align: center;
  border-image-slice: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.buttons div a:hover{
  transform: translateY(-5px);
  color: rgb(33, 177, 193);
  background: transparent;
}


@media screen and (max-width: 768px) {
   .divHome{
    height: auto;
    padding-bottom: 16vh;
   }


    .divHome .full .buttons img{
      justify-content: center;
      align-items: center;
     width: 200px;
     height: 200px;  
     flex-direction: column;   
     display: flex; 
     
   }

   .divHome .full .buttons a{
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    flex-direction: column;
    display: flex;
   }

   .divHome .full{
    justify-content: center;
    align-items: center;
   }

   .divHome .full p{
    width: 290px;
    flex-direction: column;
   }
}